/* media queries */

/****** BREAKPOINTS ******
small = 576px;
medium = 768px;
large = 992px;
x-large = 1200px;
*************************/
@media all and (max-width: 1200px){
    h2{
        color: crimson;
    }
    
}

@media all and (max-width: 992px) {
    h2{
        color:rgb(51, 22, 216);
    }
    
}

@media all and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column; 
    }
    img.photo{
       
        border: 3px solid rgba(252, 235, 5, 0.753);
        
    }
   
    h2{
        color: darkcyan;
    }
    
   
    
    .hobbys-mobile{
        background-color: rgba(252, 235, 5, 0.753) ;
    }
     
    
    /* ASIDE */
    aside{
        width: 100%;
        background-color: white;
    }
    .aside-title{
        margin-top: 0px;
    }
    .hobbys-desktop{
        display: none;
    }
    img.photo {
        width: 30%;
        border-radius: 50%;
    }
    p.contact-content{
        margin-bottom: 30PX;

    }

    /* Main */
    main{
        width: 100%; 
        display:flex;
        flex-direction: column;
        margin: auto;
    }
    .intro-desktop, .hobbys-desktop{
        display: none;
    }
    .intro-mobile, .hobbys-mobile{
        display: block;
       
    }
    .intro-mobile{
        text-align: center;
    }
    img.icon{
        width: 10%;   
    }

}
    
    
    @media all and (max-width: 576px){
        h2{
            color: rgb(231, 247, 9);
        }
        H1{
            font-size: 35px;
        }
        h3{
            font-size: 28px;
        }
        h4{
            margin-top: 0px;
        }
        .sub-section{
            display: flex;
            flex-direction: column;
        }
        hr.line{
            display: block;
            border-top: 1px dotted rgba(252, 235, 5, 0.753);   
        }
        .date{
            width: 90%;
        }
        .content{
            width: 90%;
        }

        .sub-content{
            width: 100%;
            text-align: justify; 
        }
       
    }
    @media all and (max-width: 360px){
        h2{
            color:rgb(247, 136, 9);
         }
    }